__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
*.hdf5
data/
localtest.py
*.log
*.out
plots/
# IDE settings
.vscode/
localtest/
*.egg-info

# Temporary files from Docker runs
temp/
tmp/
benchmark/algorithms/quantizer/*/PackageSource/build/

# Benchmark results
benchmark/results/
test.py